[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
ipycytoscape = "*"
grpcio = "==1.51.3"
protobuf = "==3.17.3"
pydgraph = "==21.03.0"
networkx = {extras = ["default"], version = "*"}
python-graphql-client = "*"
graphistry = "*"
python-dotenv = "*"
bokeh = "*"

[dev-packages]

[requires]
python_version = "3"
